.contact-page {
    min-height: 90vh;
    // background-color: lightsteelblue;
    margin-block: 30px;
    // display: flex;
    // flex-direction: column;
    gap: 50px;
  
    .add-search {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
            display: flex;
            justify-content: center;
        }
        .add-btn {
            width:20%;
        }
    }
}