.contact-details-page {
        min-height: 90vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        img {
            width: 25%;
        }
        ul {
            list-style-type: none;
            display: flex;
            flex-direction: column;
        }

}