.home-page {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 40px;
   min-height: 90vh;
    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    // background-color: lightsteelblue;
    img {
        width: 80%;
    }
}